@font-face {
  font-family: "W95FA";
  src: local("W95FA"), url(fonts/w95fa.woff) format("woff");
}

html,
#root,
body,
.app {
  margin: 0;
  font-family: "W95FA", sans-serif;
  color: white;
  background-color: #008080;
}
